@import url(reset.css);
@import url(styles/font-awesome-4.6.3/css/font-awesome.css);
@import url(styles/fontello-f41038ea/css/shirt.css);
@import url(t-shirts.css);
.shirt-container {
  position: relative;
  width: 70vw;
  height: 61vh;
  position: absolute;
  top: 0px;
  left: 0px; }
  .shirt-container .flip {
    width: 70vw;
    height: 61vh;
    position: absolute;
    top: 0px;
    left: 0px; }
    .shirt-container .flip .big-shirt {
      width: 70vw;
      height: 61vh;
      position: absolute;
      top: 0px;
      left: 0px;
      transform: rotateY(0deg); }
    .shirt-container .flip .back-of-shirt {
      width: 70vw;
      height: 61vh;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 1;
      transform: rotateY(180deg); }

.big-shirt-blue {
  background: url(../images/shirts/blue-front.png) no-repeat;
  background-size: contain; }

.big-shirt-pink {
  background: url(../images/shirts/pink-front.png) no-repeat;
  background-size: contain; }

.big-shirt-yellow {
  background: url(../images/shirts/yellow-front.png) no-repeat;
  background-size: contain; }

.back-of-shirt-blue {
  background: url(../images/shirts/blue-back.png) no-repeat;
  background-size: contain; }

.back-of-shirt-pink {
  background: url(../images/shirts/pink-back.png) no-repeat;
  background-size: contain; }

.back-of-shirt-yellow {
  background: url(../images/shirts/yellow-back.png) no-repeat;
  background-size: contain; }

/*
spinning the big shirt around
*/
.fa-undo:hover ~ .shirt-container .flip {
  animation: flip-shirt 1.75s infinite ease-in-out; }

@keyframes flip-shirt {
  0% {
    transform: rotateY(0deg); }
  25% {
    transform: rotateY(-180deg); }
  50% {
    transform: rotateY(-180deg); }
  75% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(0deg); } }
.shirt-with-boxes {
  overflow: hidden; }
  .shirt-with-boxes .bottom-icon-strip {
    position: relative;
    bottom: -49vh;
    height: 12vh;
    width: 100%;
    float: right; }
  .shirt-with-boxes .bottom-icon-strip :first-child {
    border-left: none; }
  .shirt-with-boxes .bottom-icon-strip li {
    float: left;
    width: 13.8vw;
    border: 2px solid #81bce5;
    height: 12vh;
    text-align: center;
    line-height: 4.3em; }

.size-container {
  position: relative;
  bottom: 44vh;
  height: 34vh;
  width: 20vw;
  left: -3vw;
  border: 2px solid #81bce5; }
  .size-container ul li {
    width: 19vw;
    border: none; }
  .size-container .icon-t-shirt {
    position: absolute;
    text-align: center; }

.xl-shirt {
  top: 3px;
  left: 6px;
  font-size: 3em;
  position: absolute; }
  .xl-shirt .size-on-xl {
    position: absolute;
    top: 2px;
    left: 19px;
    font-size: 0.45em; }

.l-shirt {
  top: 51px;
  left: 17px;
  font-size: 2.25em;
  position: absolute; }
  .l-shirt .size-on-l {
    position: absolute;
    top: 2px;
    left: 17px;
    font-size: 0.45em; }

.m-shirt {
  top: 95px;
  left: 17px;
  font-size: 2em;
  position: absolute; }
  .m-shirt .size-on-m {
    position: absolute;
    top: 2px;
    left: 17px;
    font-size: 0.45em; }

.s-shirt {
  top: 139px;
  left: 19px;
  font-size: 1.75em;
  position: absolute; }
  .s-shirt .size-on-s {
    position: absolute;
    top: 2px;
    left: 17px;
    font-size: 0.45em; }

.triangle {
  position: absolute;
  left: 23px;
  top: 167px;
  font-size: 2.5em;
  background: translucent; }

/*
color tranformations on hover
*/
.tiny-box:hover,
.fa-undo:hover,
.tiny-box:hover .fa {
  background: #81bce5;
  color: white; }

.color:hover .empty-square {
  opacity: 1;
  z-index: 5; }

.color:hover .fa-stop {
  opacity: 0; }

.description {
  position: absolute;
  left: 0vw;
  bottom: 4vh; }

.price {
  position: absolute;
  bottom: 4vh;
  right: 0vw; }
  .price:before {
    content: "$"; }

* {
  font-family: sans-serif;
  box-sizing: border-box;
  color: #81bce5; }

.item-block {
  position: relative;
  margin: 15vw;
  overflow: hidden;
  margin: 15vw;
  height: 74vh; }
  .item-block .shirt-with-boxes {
    border: 2px solid #81bce5;
    width: 70vw;
    height: 61vh;
    position: absolute;
    top: 0px;
    left: 0px; }
    .item-block .shirt-with-boxes .fa-undo {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1%;
      border: 2px solid #81bce5; }

/*# sourceMappingURL=style.css.map */
